name: Actionlint

on:
  push:
    branches: [main]
    paths:
      - ".github/workflows/**"
  pull_request:
    paths:
      - ".github/workflows/**"

jobs:
  actionlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - uses: rhysd/actionlint@0933c147c9d6587653d45fdcb4c497c57a65f9af
