name: Pinact

on:
  workflow_dispatch:
  pull_request:
    paths:
      - ".github/workflows/*.yml"
      - ".github/workflows/*.yaml"

permissions:
  contents: write
  pull-requests: write

jobs:
  pinact:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

      - name: Pin GitHub Actions versions
        uses: suzuki-shunsuke/pinact-action@43cd3c1019a721eba2b29e4c7b02cd300c0af505
        with:
          working_directory: .github/workflows
